<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lh.mapper.LogisticInfoMapper">
  <resultMap id="BaseResultMap" type="com.lh.entity.LogisticInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_name" jdbcType="VARCHAR" property="companyName" />
    <result column="order_number" jdbcType="VARCHAR" property="orderNumber" />
    <result column="courier_number" jdbcType="INTEGER" property="courierNumber" />
    <result column="logistic_time" jdbcType="TIMESTAMP" property="logisticTime" />
    <result column="logistic_place" jdbcType="VARCHAR" property="logisticPlace" />
    <result column="logistic_explain" jdbcType="VARCHAR" property="logisticExplain" />
    <result column="logistic_state" jdbcType="VARCHAR" property="logisticState" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company_name, order_number, courier_number, logistic_time, logistic_place, logistic_explain, 
    logistic_state
  </sql>
  <select id="selectByExample" parameterType="com.lh.entity.LogisticInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from logistic_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from logistic_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from logistic_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lh.entity.LogisticInfoExample">
    delete from logistic_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lh.entity.LogisticInfo">
    insert into logistic_info (id, company_name, order_number, 
      courier_number, logistic_time, logistic_place, 
      logistic_explain, logistic_state)
    values (#{id,jdbcType=INTEGER}, #{companyName,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR}, 
      #{courierNumber,jdbcType=INTEGER}, #{logisticTime,jdbcType=TIMESTAMP}, #{logisticPlace,jdbcType=VARCHAR}, 
      #{logisticExplain,jdbcType=VARCHAR}, #{logisticState,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lh.entity.LogisticInfo">
    insert into logistic_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyName != null">
        company_name,
      </if>
      <if test="orderNumber != null">
        order_number,
      </if>
      <if test="courierNumber != null">
        courier_number,
      </if>
      <if test="logisticTime != null">
        logistic_time,
      </if>
      <if test="logisticPlace != null">
        logistic_place,
      </if>
      <if test="logisticExplain != null">
        logistic_explain,
      </if>
      <if test="logisticState != null">
        logistic_state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyName != null">
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="courierNumber != null">
        #{courierNumber,jdbcType=INTEGER},
      </if>
      <if test="logisticTime != null">
        #{logisticTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logisticPlace != null">
        #{logisticPlace,jdbcType=VARCHAR},
      </if>
      <if test="logisticExplain != null">
        #{logisticExplain,jdbcType=VARCHAR},
      </if>
      <if test="logisticState != null">
        #{logisticState,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lh.entity.LogisticInfoExample" resultType="java.lang.Long">
    select count(*) from logistic_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update logistic_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyName != null">
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderNumber != null">
        order_number = #{record.orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.courierNumber != null">
        courier_number = #{record.courierNumber,jdbcType=INTEGER},
      </if>
      <if test="record.logisticTime != null">
        logistic_time = #{record.logisticTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.logisticPlace != null">
        logistic_place = #{record.logisticPlace,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticExplain != null">
        logistic_explain = #{record.logisticExplain,jdbcType=VARCHAR},
      </if>
      <if test="record.logisticState != null">
        logistic_state = #{record.logisticState,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update logistic_info
    set id = #{record.id,jdbcType=INTEGER},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      order_number = #{record.orderNumber,jdbcType=VARCHAR},
      courier_number = #{record.courierNumber,jdbcType=INTEGER},
      logistic_time = #{record.logisticTime,jdbcType=TIMESTAMP},
      logistic_place = #{record.logisticPlace,jdbcType=VARCHAR},
      logistic_explain = #{record.logisticExplain,jdbcType=VARCHAR},
      logistic_state = #{record.logisticState,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lh.entity.LogisticInfo">
    update logistic_info
    <set>
      <if test="companyName != null">
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="orderNumber != null">
        order_number = #{orderNumber,jdbcType=VARCHAR},
      </if>
      <if test="courierNumber != null">
        courier_number = #{courierNumber,jdbcType=INTEGER},
      </if>
      <if test="logisticTime != null">
        logistic_time = #{logisticTime,jdbcType=TIMESTAMP},
      </if>
      <if test="logisticPlace != null">
        logistic_place = #{logisticPlace,jdbcType=VARCHAR},
      </if>
      <if test="logisticExplain != null">
        logistic_explain = #{logisticExplain,jdbcType=VARCHAR},
      </if>
      <if test="logisticState != null">
        logistic_state = #{logisticState,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lh.entity.LogisticInfo">
    update logistic_info
    set company_name = #{companyName,jdbcType=VARCHAR},
      order_number = #{orderNumber,jdbcType=VARCHAR},
      courier_number = #{courierNumber,jdbcType=INTEGER},
      logistic_time = #{logisticTime,jdbcType=TIMESTAMP},
      logistic_place = #{logisticPlace,jdbcType=VARCHAR},
      logistic_explain = #{logisticExplain,jdbcType=VARCHAR},
      logistic_state = #{logisticState,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>