<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>首页</title>
    <base href="/"/>

    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css"/>
    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"/>
    <link href="basic/css/demo.css" rel="stylesheet" type="text/css"/>
    <link href="css/hmstyle.css" rel="stylesheet" type="text/css"/>
    <link href="css/skin.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="css/layui.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.min.js"></script>

</head>

<body>
<!--顶部引用-->
<div th:replace="head :: heads"></div>
<!--banner-->
<div th:replace="head :: banner"></div>
<!--工具栏-->
<div th:replace="head :: shopNav"></div>


<div class="layui-container">
    <div class="hot-sell">
        <div class="layui-row layui-col-space20">
            <a th:each="productHot:${productList.list}" th:href="${'/index/productDetails?productId='+productHot.productId}"
               class="layui-col-xs3 text">
                <div><img th:src="${productHot.productOneImage}" style="height: 208px"></div>
                <p th:utext="${productHot.productName}">蒂芙尼蓝化妆刷</p>
                <p class="price" th:text="${'￥'+productHot.shopPrice}">￥200</p>
            </a>
        </div>
    </div>


    <!--2.分页工具栏-->
    <div class="col-md-6">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li>
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li th:each="num : ${productList.navigatepageNums}" th:class="${num == productList.pageNum ? 'active' : ''}">
                    <a href="#" th:href="|index/show/${num}/${productList.pageSize}|" th:text="${num}">2</a>
                </li>

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</div>
<!--引导 -->
<div class="navCir">
    <li class="active"><a href="#"><i class="am-icon-home "></i>首页</a></li>
    <li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
    <li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>
    <li><a href="person/index.html"><i class="am-icon-user"></i>我的</a></li>
</div>



<script>
    window.jQuery || document.write('<script src="basic/js/jquery.min.js "><\/script>');
</script>
<script type="text/javascript " src="basic/js/quick_links.js "></script>

<script type="text/javascript">
    function call(data) {
        console.log("ok");
        console.log(data);
    }

    function checkIsLogin(data) {
        console.log(data);
        var userInfo = "";
        if (data.statusCode == 200) {
            userInfo += "欢迎<span>" + data.data + "</span>";
            userInfo += "<a href=\"http://localhost:9098/sso/logout\" target=\"_top\">注销</a>";
        } else {
            userInfo += "<a href=\"http://localhost:9098/sso/login\" target=\"_top\">登录</a>";
            userInfo += "<a href=\"#\" target=\"_top\">免费注册</a>";
        }
        $("#userInfo").html(userInfo);
    }
</script>
<script type="text/javascript">
    $(function () {

        $('.demo ul span').each(function () {
            var words = $(this).text().length;
            if (words > 15) {
                $(this).text($(this).text().slice(0, 15) + "...");
            }
        })
    })
</script>
</body>

</html>