<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=0">

    <title>订单管理</title>
    <base href="/"/>
    <link href="AmazeUI-2.4.2/assets/css/admin.css" rel="stylesheet" type="text/css">
    <link href="AmazeUI-2.4.2/assets/css/amazeui.css" rel="stylesheet" type="text/css">

    <link href="css/personal.css" rel="stylesheet" type="text/css">
    <link href="css/orstyle.css" rel="stylesheet" type="text/css">

    <script src="AmazeUI-2.4.2/assets/js/jquery.min.js"></script>
    <script src="AmazeUI-2.4.2/assets/js/amazeui.js"></script>

</head>

<body>
<!--头 -->
<div th:replace="head2 :: heads2"></div>
<div th:replace="head2 :: nav2"></div>
<div class="center">
    <div class="col-main">
        <div class="main-wrap">
            <div class="user-order">
                <!--标题 -->
                <div class="am-cf am-padding">
                    <div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> /
                        <small>Order</small>
                    </div>
                </div>
                <hr/>

                <div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

                    <ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active"><a href="#tab1">所有订单</a></li>
                        <li><a href="#tab2">待付款</a></li>
                        <li><a href="#tab3">待发货</a></li>
                        <li><a href="#tab4">待收货</a></li>
                        <li><a href="#tab5">待评价</a></li>
                    </ul>

                    <div class="am-tabs-bd">
                        <!--所有订单-->
                        <div class="am-tab-panel am-fade am-in am-active" id="tab1">
                            <div class="order-top">
                                <div class="th th-item">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">单价</td>
                                </div>
                                <div class="th th-number">
                                    <td class="td-inner">数量</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">商品操作</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">合计</td>
                                </div>
                                <div class="th th-status">
                                    <td class="td-inner">交易状态</td>
                                </div>
                                <div class="th th-change">
                                    <td class="td-inner">交易操作</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list" th:if="${orderBasicsList != null }">
                                    <!--交易成功-->
                                    <div class="order-status5" th:each="orderBasicsList : ${orderBasicsList }">
                                        <div class="order-title">
                                            <div class="dd-num">订单编号：<span
                                                    th:text="${orderBasicsList.orderNumber}"></span></div>
                                            <span th:text="${'成交时间：'+#dates.format(orderBasicsList.orderTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <!--<span th:text="${'成交时间：'+orderBasicsList.orderTime}"></span>-->
                                            <!--    <em>店铺：小桔灯</em>-->
                                        </div>
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list"
                                                    th:each="itemsList:${orderBasicsList.orderItemsList}">
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img th:src="${itemsList.producrIcon}">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <span th:text="${itemsList.productName}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-price">
                                                            <span th:text="${itemsList.productPrice}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-number">
                                                        <div class="item-number">
                                                            <span th:text="'×'+${itemsList.productNum}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation"
                                                        th:if="${orderBasicsList.state == '3' || orderBasicsList.state == '4' || orderBasicsList.state == '5'}">
                                                        <div class="item-operation">
                                                            <a href="refund.html">退款</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-right">
                                                <li class="td td-amount">
                                                    <div class="item-amount">
                                                        合计：<span th:text="${orderBasicsList.totalMoney}"></span></p>
                                                    </div>
                                                </li>
                                                <div class="move-right">
                                                    <li class="td td-status">
                                                        <div class="item-status">
                                                            <p class="Mystatus" th:if="${orderBasicsList.state == '1'}">
                                                                等待买家付款</p>
                                                            <p class="Mystatus" th:if="${orderBasicsList.state == '2'}">
                                                                等待卖家发货</p>
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsList.state == '1' || orderBasicsList.state == '2'}">
                                                                <a href="orderInfo.html">取消订单</a></p>
                                                            <p class="Mystatus" th:if="${orderBasicsList.state == '3'}">
                                                                卖家已发货</p>
                                                            <p class="Mystatus" th:if="${orderBasicsList.state == '4'}">
                                                                交易成功</p>
                                                            <p class="order-info"><a th:href="${'/orders/detail?orderId='+orderBasicsList.orderId}">订单详情</a></p>
                                                            <p class="order-info"
                                                               th:if="${orderBasicsList.state == '3' || orderBasicsList.state == '4'}">
                                                                <a href="logistics.html">查看物流</a></p>
                                                        </div>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsList.state == '1'}">
                                                        <a th:href="${'/orders/onePay?orderId='+orderBasicsList.orderId}">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                一键支付
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsList.state == '2'}">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                提醒发货
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="td td-change" th:if="${orderBasicsList.state == '3' }">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                确认收货
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="td td-change" th:if="${orderBasicsList.state == '4' }">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                评价商品
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span th:if="${orderBasicsList == null }">暂无信息！</span>
                            </div>

                        </div>
                        <!--待付款，状态为1-->
                        <div class="am-tab-panel am-fade" id="tab2">

                            <div class="order-top">
                                <div class="th th-item">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">单价</td>
                                </div>
                                <div class="th th-number">
                                    <td class="td-inner">数量</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">商品操作</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">合计</td>
                                </div>
                                <div class="th th-status">
                                    <td class="td-inner">交易状态</td>
                                </div>
                                <div class="th th-change">
                                    <td class="td-inner">交易操作</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list" th:if="${orderBasicsListNoPay != null }">
                                    <div class="order-status1"
                                         th:each="orderBasicsListNoPay : ${orderBasicsListNoPay }">
                                        <div class="order-title">
                                            <div class="dd-num">订单编号：<span
                                                    th:text="${orderBasicsListNoPay.orderNumber}"></span></div>
                                            <span th:text="${'成交时间：'+#dates.format(orderBasicsListNoPay.orderTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <!--    <em>店铺：小桔灯</em>-->
                                        </div>
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list"
                                                    th:each="itemsList:${orderBasicsListNoPay.orderItemsList}">
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img th:src="${itemsList.producrIcon}">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <span th:text="${itemsList.productName}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-price">
                                                            <span th:text="${itemsList.productPrice}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-number">
                                                        <div class="item-number">
                                                            <span th:text="'×'+${itemsList.productNum}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation"
                                                        th:if="${orderBasicsListNoPay.state == '3' || orderBasicsListNoPay.state == '4' || orderBasicsListNoPay.state == '5'}">
                                                        <div class="item-operation">
                                                            <a href="refund.html">退款</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-right">
                                                <li class="td td-amount">
                                                    <div class="item-amount">
                                                        合计：<span
                                                            th:text="${orderBasicsListNoPay.totalMoney}"></span></p>
                                                    </div>
                                                </li>
                                                <div class="move-right">
                                                    <li class="td td-status">
                                                        <div class="item-status">
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoPay.state == '1'}">等待买家付款</p>
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoPay.state == '1' || orderBasicsListNoPay.state == '2'}">
                                                                <a href="orderInfo.html">取消订单</a></p>
                                                            <p class="order-info"><a th:href="${'/orders/detail?orderId='+orderBasicsListNoPay.orderId}">订单详情</a></p>
                                                        </div>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsListNoPay.state == '1' || orderBasicsListNoPay.state == '2'}">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                取消订单
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span th:if="${orderBasicsListNoPay == null }">暂无信息！</span>
                        </div>
                        <!--待发货，状态为2-->
                        <div class="am-tab-panel am-fade" id="tab3">
                            <div class="order-top">
                                <div class="th th-item">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">单价</td>
                                </div>
                                <div class="th th-number">
                                    <td class="td-inner">数量</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">商品操作</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">合计</td>
                                </div>
                                <div class="th th-status">
                                    <td class="td-inner">交易状态</td>
                                </div>
                                <div class="th th-change">
                                    <td class="td-inner">交易操作</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list" th:if="${orderBasicsListNoSend != null }">
                                    <div class="order-status2"
                                         th:each="orderBasicsListNoSend : ${orderBasicsListNoSend }">
                                        <div class="order-title">
                                            <div class="dd-num">订单编号：<span
                                                    th:text="${orderBasicsListNoSend.orderNumber}"></span></div>
                                            <span th:text="${'成交时间：'+#dates.format(orderBasicsListNoSend.orderTime,'yyyy-MM-dd HH:mm:ss')}"></span>

                                        </div>
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list"
                                                    th:each="itemsList:${orderBasicsListNoSend.orderItemsList}">
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img th:src="${itemsList.producrIcon}">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <span th:text="${itemsList.productName}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-price">
                                                            <span th:text="${itemsList.productPrice}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-number">
                                                        <div class="item-number">
                                                            <span th:text="'×'+${itemsList.productNum}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation">
                                                        <div class="item-operation">

                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-right">
                                                <li class="td td-amount">
                                                    <div class="item-amount">
                                                        合计：<span
                                                            th:text="${orderBasicsListNoSend.totalMoney}"></span></p>
                                                    </div>
                                                </li>
                                                <div class="move-right">
                                                    <li class="td td-status">
                                                        <div class="item-status">
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoSend.state == '2'}">等待卖家发货</p>
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoSend.state == '1' || orderBasicsListNoSend.state == '2'}">
                                                                <a href="orderInfo.html">取消订单</a></p>
                                                            <p class="order-info"><a th:href="${'/orders/detail?orderId='+orderBasicsListNoSend.orderId}">订单详情</a></p>
                                                        </div>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsListNoSend.state == '1'}">
                                                        <a th:href="${'/orders/onePay?orderId='+orderBasicsList.orderId}">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                一键支付
                                                            </div>
                                                        </a>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsListNoSend.state == '2'}">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                提醒发货
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span th:if="${orderBasicsListNoSend == null }">暂无信息！</span>
                        </div>
                        <!--</div>-->
                        <!--待收货，状态为3-->
                        <div class="am-tab-panel am-fade" id="tab4">
                            <div class="order-top">
                                <div class="th th-item">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">单价</td>
                                </div>
                                <div class="th th-number">
                                    <td class="td-inner">数量</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">商品操作</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">合计</td>
                                </div>
                                <div class="th th-status">
                                    <td class="td-inner">交易状态</td>
                                </div>
                                <div class="th th-change">
                                    <td class="td-inner">交易操作</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list" th:if="${orderBasicsListNoReceive != null}">
                                    <div class="order-status3"
                                         th:each="orderBasicsListNoReceive : ${orderBasicsListNoReceive}">
                                        <div class="order-title">
                                            <div class="dd-num">订单编号：<span
                                                    th:text="${orderBasicsListNoReceive.orderNumber}"></span></div>
                                            <span th:text="${'成交时间：'+#dates.format(orderBasicsListNoReceive.orderTime,'yyyy-MM-dd HH:mm:ss')}"></span>
                                            <!--    <em>店铺：小桔灯</em>-->
                                        </div>
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list"
                                                    th:each="itemsList:${orderBasicsListNoReceive.orderItemsList}">
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img th:src="${itemsList.producrIcon}">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <span th:text="${itemsList.productName}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-price">
                                                            <span th:text="${itemsList.productPrice}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-number">
                                                        <div class="item-number">
                                                            <span th:text="'×'+${itemsList.productNum}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation">
                                                        <div class="item-operation">
                                                            <a href="refund.html">退款/退货</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="order-right">
                                                <li class="td td-amount">
                                                    <div class="item-amount">
                                                        合计：<span
                                                            th:text="${orderBasicsListNoReceive.totalMoney}"></span></p>
                                                    </div>
                                                </li>
                                                <div class="move-right">
                                                    <li class="td td-status">
                                                        <div class="item-status">

                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoReceive.state == '3'}">
                                                                卖家已发货</p>
                                                            <p class="order-info"><a th:href="${'/orders/detail?orderId='+orderBasicsListNoReceive.orderId}">订单详情</a></p>
                                                            <p class="order-info"
                                                               th:if="${orderBasicsListNoReceive.state == '3' || orderBasicsListNoReceive.state == '4'}">
                                                                <a href="logistics.html">查看物流</a></p>
                                                        </div>
                                                    </li>
                                                    <li class="td td-change">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                确认收货
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span th:if="${orderBasicsListNoReceive == null}">暂无信息！</span>
                        </div>
                        <!--待评价，状态为4-->
                        <div class="am-tab-panel am-fade" id="tab5">
                            <div class="order-top">
                                <div class="th th-item">
                                    <td class="td-inner">商品</td>
                                </div>
                                <div class="th th-price">
                                    <td class="td-inner">单价</td>
                                </div>
                                <div class="th th-number">
                                    <td class="td-inner">数量</td>
                                </div>
                                <div class="th th-operation">
                                    <td class="td-inner">商品操作</td>
                                </div>
                                <div class="th th-amount">
                                    <td class="td-inner">合计</td>
                                </div>
                                <div class="th th-status">
                                    <td class="td-inner">交易状态</td>
                                </div>
                                <div class="th th-change">
                                    <td class="td-inner">交易操作</td>
                                </div>
                            </div>

                            <div class="order-main">
                                <div class="order-list" th:if="${orderBasicsListNoAssess != null }">
                                    <!--不同状态的订单	-->
                                    <div class="order-status4"
                                         th:each="orderBasicsListNoAssess : ${orderBasicsListNoAssess }">
                                        <div class="order-title">
                                            <div class="dd-num">订单编号：<span
                                                    th:text="${orderBasicsListNoAssess.orderNumber}"></span></div>
                                            <span th:text="${'成交时间：'+#dates.format(orderBasicsListNoAssess.orderTime,'yyyy-MM-dd HH:mm:ss')}"></span>

                                        </div>
                                        <div class="order-content">
                                            <div class="order-left">
                                                <ul class="item-list"
                                                    th:each="itemsList:${orderBasicsListNoAssess.orderItemsList}">
                                                    <li class="td td-item">
                                                        <div class="item-pic">
                                                            <a href="#" class="J_MakePoint">
                                                                <img th:src="${itemsList.producrIcon}">
                                                            </a>
                                                        </div>
                                                        <div class="item-info">
                                                            <div class="item-basic-info">
                                                                <a href="#">
                                                                    <span th:text="${itemsList.productName}"></span>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="td td-price">
                                                        <div class="item-price">
                                                            <span th:text="${itemsList.productPrice}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-number">
                                                        <div class="item-number">
                                                            <span th:text="'×'+${itemsList.productNum}"></span>
                                                        </div>
                                                    </li>
                                                    <li class="td td-operation">
                                                        <div class="item-operation">
                                                            <a href="refund.html">退款/退货</a>
                                                        </div>
                                                    </li>
                                                </ul>

                                            </div>
                                            <div class="order-right">
                                                <li class="td td-amount">
                                                    <div class="item-amount">
                                                        合计：<span
                                                            th:text="${orderBasicsListNoAssess.totalMoney}"></span></p>
                                                    </div>
                                                </li>
                                                <div class="move-right">
                                                    <li class="td td-status">
                                                        <div class="item-status">
                                                            <p class="Mystatus"
                                                               th:if="${orderBasicsListNoAssess.state == '4'}">
                                                                交易成功</p>
                                                            <p class="order-info"><a th:href="${'/orders/detail?orderId='+orderBasicsListNoAssess.orderId}">订单详情</a></p>
                                                            <p class="order-info"
                                                               th:if="${orderBasicsListNoAssess.state == '3' || orderBasicsListNoAssess.state == '4'}">
                                                                <a href="logistics.html">查看物流</a></p>
                                                        </div>
                                                    </li>
                                                    <li class="td td-change"
                                                        th:if="${orderBasicsListNoAssess.state == '4' }">
                                                        <a href="commentlist.html">
                                                            <div class="am-btn am-btn-danger anniu">
                                                                评价商品
                                                            </div>
                                                        </a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <span th:if="${orderBasicsListNoAssess == null }">暂无信息！</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div th:replace="head2 :: menu"></div>
</div>

</body>

</html>